@charset "UTF-8"; /*GBK GB2312*/
@textcolor:#fff;//文字颜色
@linkcolor:#fff;//超链接颜色
html, body, section{
  width: 100%;
  height: 100%;
  overflow: hidden;
  color:@textcolor;
}
a{
  text-decoration: none;
  color:@linkcolor;
  text-align: center;
}
body{
  font-family:'microsoft yahei Mono','sans-serif';
}
@images: "../images";//图片地址
section.p1{
  background: url("@{images}/page1_glow.png") no-repeat center 100px,
linear-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);
}
section.p2{
  //渐变
  background: linear-gradient(0deg, #41b93e 0%, #3b9e3c 35%, #274535 75%, #190530 100%);
}
section.p3{
  background: linear-gradient(0deg, #395ecb 0%, #3657be 35%, #242161 75%, #1a0531 100%);
}
section.p4{
  background: url("@{images}/page4_glow.png") no-repeat center 200px, linear-gradient(0deg, #ff9f42 0%, #ed923d 35%, #6d3816 75%, #2e0b04 100%);
}
section.p5{
  background: url("@{images}/page5_glow.png") no-repeat center 200px, linear-gradient(0deg, #d74d53 0%, #c44655 35%, #4c184c 75%, #110145 100%);
}
.radius(@radius:50%){//圆角
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.border(@num:1px,@solid:solid,@bdColor:rgba(255,255,255,.6)){//边框
  border:@num @solid @bdColor;
}
.size(@width:100%,@height:100%){//盒子尺寸
  width:@width;
  height: @height;
}
.position(@width: 100%,@height:100%,@margin-left:-@width/2,@margin-top:-@height/2){
  width: @width;
  height: @height;
  margin-left:@margin-left;
  margin-top:@margin-top;
}
.container(){//版心
  .position(900px,600px);
  .pos;
}
.pos(@position:absolute,@left:50%,@top:50%){//left top定位
  position:@position;
  left: @left;
  top:@top;
}
.pos1(@position:absolute,@left:50%,@bottom:50%){//left bottom定位
  position:@position;
  left: @left;
  bottom:@bottom;
}
.pos2(@position:absolute,@right:50%,@top:50%){//right top定位
  position:@position;
  right: @right;
  top:@top;
}
@perspective:1000px;
//添加动画部分
.animation(@name,@time){
  -webkit-animation:@name @time  infinite linear;
  -moz-animation:@name @time  infinite linear;
  animation:@name @time infinite linear;
}
//3d动画
.animation3d(@name,@time,@AlterNate:alternate){
  -webkit-animation:@name @time linear infinite @AlterNate;
  -moz-animation:@name @time linear infinite @AlterNate;
  animation:@name @time linear infinite @AlterNate;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.transition(@time: 1s) {
  -webkit-transition: all @time;
  -moz-transition: all @time;
  transition: all @time;
}

// 定义动画
.setAnimation(@name, @tx: 0, @ty: 0, @tz: 0, @rx: 0deg, @ry: 0deg, @rz: 0deg, @sx: 1, @sy: 1, @sz: 1, @fromTX: 0, @fromTY: 0, @fromTZ: 0, @fromRX: 0, @fromRY: 0, @fromRZ: 0, @fromSX: 1, @fromSY: 1, @fromSZ: 1) {
  @keyframes @name {
    0% {
      -webkit-transform: translateX(@fromTX) translateY(@fromTY) translateZ(@fromTZ) rotateX(@fromRX) rotateY(@fromRY) rotateZ(@fromRZ) scaleX(@fromSX) scaleY(@fromSY) scaleZ(@fromSZ);
      -moz-transform: translateX(@fromTX) translateY(@fromTY) translateZ(@fromTZ) rotateX(@fromRX) rotateY(@fromRY) rotateZ(@fromRZ) scaleX(@fromSX) scaleY(@fromSY) scaleZ(@fromSZ);
      transform: translateX(@fromTX) translateY(@fromTY) translateZ(@fromTZ) rotateX(@fromRX) rotateY(@fromRY) rotateZ(@fromRZ) scaleX(@fromSX) scaleY(@fromSY) scaleZ(@fromSZ);
    }
    100% {
      -webkit-transform: translateX(@tx) translateY(@ty) translateZ(@tz) rotateX(@rx) rotateY(@ry) rotateZ(@rz) scaleX(@sx) scaleY(@sy) scaleZ(@sz);
      -moz-transform: translateX(@tx) translateY(@ty) translateZ(@tz) rotateX(@rx) rotateY(@ry) rotateZ(@rz) scaleX(@sx) scaleY(@sy) scaleZ(@sz);
      transform: translateX(@tx) translateY(@ty) translateZ(@tz) rotateX(@rx) rotateY(@ry) rotateZ(@rz) scaleX(@sx) scaleY(@sy) scaleZ(@sz);
    }
  }
}

// 定义transform
.transform(@tx: 0, @ty: 0, @tz: 0, @rx: 0deg, @ry: 0deg, @rz: 0deg, @sx: 1, @sy: 1, @sz: 1) {
  transform: translateX(@tx) translateY(@ty) translateZ(@tz) rotateX(@rx) rotateY(@ry) rotateZ(@rz) scaleX(@sx) scaleY(@sy) scaleZ(@sz);
  -webkit-transform: translateX(@tx) translateY(@ty) translateZ(@tz) rotateX(@rx) rotateY(@ry) rotateZ(@rz) scaleX(@sx) scaleY(@sy) scaleZ(@sz);
  -moz-transform: translateX(@tx) translateY(@ty) translateZ(@tz) rotateX(@rx) rotateY(@ry) rotateZ(@rz) scaleX(@sx) scaleY(@sy) scaleZ(@sz);
}
/*指示器区域*/
.gps{
  .position(10px,140px);
  .pos2(fixed,20px,50%);
  margin-left: 0;
  li{
    .position(10px,10px);
    .radius();
    background-color: rgba(255, 255, 255, .3);
    margin-bottom:22px;
    cursor: pointer;
  }
  li.curr{
    background-color: #fff;
  }
}
/*尾部区域*/
.footer{
  .size(100%,30px);
  line-height: 30px;
  .pos1(absolute,0,10px);
  padding:0 20px;
  box-sizing: border-box;
  font-weight: bolder;
  >span{
    float: left;
  }
  ul{
    float: right;
    li{
      float: left;
      >span{
        margin-right: 5px;
      }
    }
  }
}
/*滚动特效*/
.scroll{
  display: none;
  .pos1(absolute,50%,10px);
  .position(29px,31px);
  margin-top: 0;
  .animation(upAndDown,0.8s);
}
.setAnimation(upAndDown,@fromTY:10px,@ty: 0px);
/*头部区域*/
.logo{
  .size(220px,50px);
  line-height: 50px;
  .pos(absolute,15px,15px);
  img{
    vertical-align: middle;
  }
  a{
    float: right;
    .size(100px,30px);
    line-height: 30px;
    .border;
    .radius(15px);
    margin-top: 9px;
  }
}
/*第一屏*/
.p1{
  perspective:@perspective;
  .p1Title{
    .position(530px,140px);
    line-height: 140px;
    .pos(absolute,50%,50px);
    margin-top: 0;
    img{
      width: 350px;
      vertical-align: middle;
    }
    a{
      float: right;
      .size(120px,40px);
      line-height: 40px;
      .border;
      .radius(5px);
      margin-top: 49px;
      &:hover{
        color: #221b57;
        background-color: #fff;
      }
    }
  }
}
.p1{
  .p1Main{
    .container;
    ul{
      .container;
      .animation3d(p1Round,20s);
      li{
        .position(580px,361px);
        .pos;
        backface-visibility: hidden;
      }
      li:nth-child(2){
        .transform(@tz:70px);
      }
      li:nth-child(3){
        .transform(@tz:70px,@ry: 180deg);
      }
      li:nth-child(4){
        .transform(@tz:0px,@ry: 180deg);
      }
      li:nth-child(5){
        .transform(@tz:-70px,@ry: 180deg);
      }
    }
  }
  .round{
    .position(680px,680px);
    .pos;
    .animation(p1Circle,2s);
  }
}
.setAnimation(p1Round,@fromRY: 0deg,@ty: 360deg);
.setAnimation(p1Circle,@fromRX: 70deg, @fromRY: -12deg,@fromRZ: 0deg,@fromSX: 1.5,@fromSY: 1.5,@rx:70deg,@ry: -12deg,@rz:360deg,@sx: 1.5,@sy: 1.5);
/*第二屏*/
.p2{
  perspective: @perspective;
  .p2Bg{
    span{
      .position(5000px,1px);
      background-color: #c7e00e;
      .pos;
      transform: rotateY(-50deg);
    }
    img{
      .pos;
    }
    img:nth-of-type(1){
      .size(684px,395px);
      margin-top: -197px;
      margin-left: -92px;
    }
    img:nth-of-type(2){
      .size(346px,123px);
      margin-top: -62px;
      margin-left: 73px;
    }
  }
}
.p2{
  .p2Main{
    .container;
    ul{
      .container;
      transition: all 1s linear;
      li{
        .position(350px,350px);
        .pos;
        .animation(p2Circle,2s);
      }
      li:nth-child(1){
        left: 70%;
        .transform(@ry: 37deg);
      }
      li:nth-child(2){
        left: 60%;
        .transform(@ry: 35deg);
      }
      li:nth-child(3){
        left: 50%;
        .transform(@ry: 37deg);
      }
      li:nth-child(4){
        left: 40%;
        .transform(@ry: 35deg);
      }
    }
  }
}
.p2{
  .p2Title{
    .size(370px,200px);
    .pos;
    margin-left: -544px;
    margin-top: -50px;
    .transition();
    p{
      font-size: 20px;
      line-height: 30px;
    }
  }
}
.setAnimation(p2Circle,@fromRZ: 0deg,@rz: 360deg);
.p2.current .p2Title, .p2.current .p2Main ul{
  .transform(@sx:4,@sy: 4);
}

/*第三屏*/
.p3{
  perspective: @perspective;
  .p3Bg{
    img{
      .pos;
    }
    img:nth-child(1){
      .position(1368px,1111px);
    }
    img:nth-child(2){
      .position(131px,130px);
    }
  }
}
.p3{
  .p3Main{
    .container;
    transition: all 1s linear;
    ul{
      .container;
      .animation3d(p3Circle,20s);
      .transition();
      li{
        .position(680px,680px);
        .pos;
        .border(2px,solid,#5ec0ff);
        .radius();
      }
      li:nth-child(1){
        .transform(@ry: -60deg);
      }
      li:nth-child(3){
        .transform(@ry: 60deg);
      }
      li:nth-child(1) img{
        .animation(p3Round,2s);
      }
      li:nth-child(2) img{
        .animation(p3Round,3s);
      }
      li:nth-child(3) img{
        .animation(p3Round,4s);
      }
    }
  }
}
.setAnimation(p3Round,@fromRZ: 0deg,@rz: 360deg);
.setAnimation(p3Circle,@fromRX: 70deg,@fromRY: 0deg,@rx: 70deg,@ry: 360deg);
.p3{
  .p3Title{
    .size(450px,149px);
    .pos;
    margin-left: 125px;
    margin-top: -80px;
    .transform(@rx:14deg,@ry:-13deg);
    .transition();
  }
}
.p3.current .p3Main{
  .transform(@sx:5,@sy:5);
}
.p3.current .p3Title{
  .transform(@tx:1000px);
}

/*第四屏*/
.p4{
  perspective: @perspective;
  .p4Lines{
    .position(5000px,230px);
    .pos;
    margin-top: 49px;
    .line span{
      .size(100%,1px);
      .pos(absolute,0,0);
      background-color: #fff;
    }
    .line:nth-child(2) span{
      top: 230px;
    }
    .line img{
      .position(346px,123px);
      .pos(absolute,50%,0);
      .animation(p4Lines,1s);
    }
    .line:nth-child(2) img{
      top: 230px;
      .animation(p4Lines,0.5s);
    }
  }
}
.setAnimation(p4Lines,@fromTX: -1000px,@tx:1000px);
.p4{
  .p4Main{
    .container;
    ul{
      .container;
      transform-style:preserve-3d;
      .transform(@rx: 45deg);
      .transition();
      li{
       .position(414px,414px);
        .pos;
      }
      li:nth-child(3){
        .transform(@tz: -100px);
      }
      li:nth-child(4){
        .transform(@tz: -100px,@sx: 1.1,@sy:1.1);
      }
      li:nth-child(5){
        .transform(@tz: 10px,@sx: 1.2,@sy:1.2);
      }
      li:nth-child(1) img{
        .animation(p4Circle,60s);
      }
      li:nth-child(2) img{
        .animation(p4Circle,20s);
      }
      li:nth-child(3) img{
        .animation(p4Circle,20s);
      }
      li:nth-child(4) img{
        .animation(p4Circle,5s);
      }
      li:nth-child(5) img{
        .animation(p4Circle,4s);
      }
    }
  }
}
.setAnimation(p4Circle,@fromRZ: 0deg,@rz: 360deg);
.p4{
  .p4Tag{
    .size(240px,80px);
    .pos;
    margin-left: -420px;
    margin-top: -40px;
    color: #fff;
    .transition();
  }
  .p4Title{
    .position(300px,71px);
    .pos;
    margin-top: -88px;
    .transform(@rx:30deg,@sx:1.2,@sy:1.2);
    .transition();
  }
}
.p4.current .p4Main ul{
  .transform(@sx:5,@sy:5);
}
.p4.current  .p4Tag{
  .transform(@tx:-1000px);
}
.p4.current  .p4Title{
  .transform(@tx:1000px);
}
.style{
  background: url("@{images}/page5_bubble.png") no-repeat;
  background-size:cover;
  .transition();
}
/*第五屏*/
.p5{
  .p5Main{
    .container;
    ul{
      .container;
      li{
        text-align: center;
        .pos;
        img{
          vertical-align: middle;
        }
      }
      li:nth-child(1){
        .position(305px,305px);
        line-height: 305px;
        background: url("@{images}/page5_bubble_glow.png") no-repeat;
        background-size:cover;
        .transition();
      }
      li:nth-child(2){
        .size(210px,210px);
        line-height: 210px;
        margin-left: -272px;
        margin-top: -234px;
        .style;
      }
      li:nth-child(3){
        .size(250px,250px);
        line-height: 250px;
        margin-left: -324px;
        margin-top: 70px;
        .style;
      }
      li:nth-child(4){
        .size(180px,180px);
        line-height: 180px;
        margin-left: 175px;
        margin-top: 46px;
        .style;
      }
      li:nth-child(5){
        .size(120px,120px);
        line-height: 120px;
        margin-left: 170px;
        margin-top: -195px;
        .style;
      }
      li:nth-child(6){
       .size(90px,90px);
        line-height: 90px;
        margin-left: 265px;
        margin-top: -140px;
        .style;
        img{
          .transform(@sx:0.5,@sy:0.5);
        }
      }
    }
  }
}
.p5{
  .p5Tag{
   .size(230px,80px);
    .pos;
    margin-left: -465px;
    margin-top: -30px;
    .transition();
  }
}
.p5{
  .p5Title{
   .size(460px,150px);
    .pos;
    margin-left: 190px;
    margin-top: -75px;
    .transition();
  }
}
.p5.current .p5Tag, .p5.current .p5Title{
  .transform(@ry: -90deg);
  transform-origin: 100% 100%;
}
.p5.current .p5Main{
  li:nth-child(1){
    margin-left: -1300px;
    margin-top: -200px;
  }
  li:nth-child(2){
    margin-left: -1000px;
    margin-top: -500px;
  }
  li:nth-child(3){
    margin-left: -1500px;
    margin-top: -500px;
  }
  li:nth-child(4){
    margin-left: 1300px;
    margin-top: 500px;
  }
  li:nth-child(5){
    margin-left: 1500px;
    margin-top: -400px;
  }
  li:nth-child(6){
    margin-left: 800px;
    margin-top: -600px;
  }
}